
<div class="container">
  
    <h1>Main Area</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"> Name</th>
          <th scope="col">Code</th>
          <th scope="col">Date</th>
          <th scope="col"> Description</th>
          <th scope="col">Price</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i=index" >
          <td><img [src]="product.imageUrlxs" alt=""></td>
          <td>{{product.productName}}</td>
          <td>{{product.productCode}}</td>
          <td>{{product.releaseDate}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.starRating}}</td>
         
        </tr>
        
      </tbody>
    </table>     
  </div>
  
  
  